<h1>Kittens show</h1>
<h2><%= @kitten.name %></h2>
<span>Age: <%=@kitten.age %> | Cuteness: <%= @kitten.cuteness %> | Softness: <%= @kitten.softness %></span>
<br/>
<%= link_to "Delete this kitten", @kitten, method: :delete %>